[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = git://github.com/nesi/puppet-git.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "puppet/modules/motd"]
	path = puppet/modules/motd
	url = https://github.com/saz/puppet-motd.git
[submodule "puppet/modules/tomcat"]
	path = puppet/modules/tomcat
	url = https://github.com/camptocamp/puppet-tomcat.git
